HTTP_LOGS_URL=https://path/to/http/logs
HTTPS_LOGS_URL=https://path/to/https/logs
HTTP_USER=logs
HTTP_PASSWORD=somepassword
USER_AGENT=OBPLogs/1.0
OUTPUT_DIR=./logs
TMP_DIR=/tmp
START_YEAR=2009
START_MONTH=1
START_DAY=1
CUTOFF_DAYS=2
